body,html{
    margin: 0;
    padding: 0;
}

html{
    height: 0;
}

.img {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.greeting{
    background: rgba(82, 82, 82, 0.5);
    padding: 12px 32px;
    border-radius: 5px;
    text-align: center;
}

h1, h2 {
    margin: 0;
    padding: 12px;
    color: white;
}
